<html>
    <head>
        <title>Homepage of User: {{ username }} </title>
    </head>
    <body>
        <a href="/logout/"> Logout </a>
        
        {% if username == logged_user %}
            <h1> Welcome home, {{ username }}. </h1>
            <p> You have received the following messages: </p>
            <ul>
            {% for entry in q %}
                <li>Posted by: {{ entry.from_user.username }} On: {{ entry.date}}</li>
                <p>{{entry.msg }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h1> Welcome to {{ username }}'s homepage. </h1>
            <p> {{ username }} has received the following messages: </p>  
            <ul>
            {% for entry in q %}
                <li>Posted by: {{ entry.from_user.username }} On: {{ entry.date}}</li>
                <p>{{entry.msg }}</li>
            {% endfor %}
            </ul>
            
            <form action='/send-message/' method="post" >
            {{ csrf() }}
            Message {{ username }}:<br />
            <textarea name="message" rows="10" columns="40"></textarea>
            <input type="hidden" name="usr" value="{{ username }}" />
            <br /> <br />
            <input type="submit" value="Send">
            <input type="reset"  value="Reset"> 
            </form>           
        {% endif %}
    </body>
</html> 
