<html>
    <head>
        <title>Homepage of User: {{ visitee }} </title>
    </head>
    <body>
        <a href="{{ url('users.logout') }}"> Logout </a>

        {% if visitee == user %}
            <h1> Welcome home, {{ user }}. </h1>
            <p>Coins:{{ visitee.profile.coins }}, WinkCash:{{ visitee.profile.wink_cash }}</p>

            <p> <b>You have received the following gifts:</b> </p>
            <ul>
            {% for gift in gifts %}
                <li>Posted by: {{ gift.creator.username }}</li>
                <p>{{gift.gift.title }}</p>
                <p> Bought with: (1-WinkCash, 2-Coins): {{gift.bought_with}}</li>
            {% endfor %}
            </ul>

            <p> <b>You have received the following messages:</b> </p>
            <ul>
            {% for entry in msgs %}
                <li>Posted by: {{ entry.from_user.username }} On: {{ entry.date}}</li>
                <p>{{entry.msg }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h1> Welcome to {{ visitee }}'s homepage. </h1>
            <a href="{{ url('mall.list_gifts', visitee) }}"> Click to send gift to {{ visitee }}.</a>

            <p> <b>{{ visitee }} has received the following gifts:</b> </p>
            <ul>
            {% for gift in gifts %}
                <li>Posted by: {{ gift.creator.username }}</li>
                <p>{{gift.gift.title }}</p>
                <p> Bought with: (1-WinkCash, 2-Coins): {{gift.bought_with}}</li>
            {% endfor %}
            </ul>

            <p> <b>{{ visitee }} has received the following messages: </b></p>
            <ul>
            {% for entry in msgs %}
                <li>Posted by: {{ entry.from_user.username }} On: {{ entry.date}}</li>
                <p>{{entry.msg }}</li>
            {% endfor %}
            </ul>

            <form action="{{ url('messages.send_message') }}" method="post" >
            {{ csrf() }}
            Message {{ visitee }}:<br />
            <textarea name="message" rows="10" columns="40"></textarea>
            <input type="hidden" name="usr" value="{{ visitee }}" />
            <br /> <br />
            <input type="submit" value="Send">
            <input type="reset"  value="Reset">
            </form>
        {% endif %}
    </body>
</html>
