{% extends "diary_base.html" %}
{% block content %}
<h1>{{ username }}'s Diaries</h1>
{% for diary in diaries %}
  <br />
  <a href={{ url('diary.single',
                 username=diary.creator.username,
                 year=diary.created.year,
                 month=diary.created.month,
                 day=diary.created.day) }}>
    {{ diary.created_day }}
  </a>
  {% if diary.is_private %}
    private
  {% endif %}
  {% if diary.is_draft %}
    draft
  {% endif %}
  <br />
  {{ diary.text }}
  <br />
{% endfor %}
{% endblock %}
