{% extends "diary_base.html" %}
{% block content %}
<h1>{{ curr_user }}</h1>
<ul id="navigation">

{{ year }}.{{ month }}
<form action="{{ url('diary.list_drafts') }}" method="GET">
  <input type="hidden" name="year" value="{{ year }}" />
  <input type="hidden" name="month" value="{{ month - 1 }}" />
  <input type="submit" value="<" />
</form>
{% from "printcalendar.html" import printcalendar %}
{{ printcalendar(monthdays, diaries_dict) }}
<form action="{{ url('diary.list_drafts') }}" method="GET">
  <input type="hidden" name="year" value="{{ year }}" />
  <input type="hidden" name="month" value="{{ month + 1 }}" />
  <input type="submit" value=">" />
</form>
{#
{% for diary in diaries %}
  <li><a href={{ url('diary.view_diary', diary_id=diary.pk) }}>{{ diary.title }}</a></li>
{% endfor %}
</ul>
#}
{% endblock %}
