{% extends "diary_base.html" %}
{% block content %}
{# CALENDAR NAVIGATION #}
{{ year }}.{{ month }}
<br />
<select id="month_select" onchange="{window.top.location.href=this.options[this.selectedIndex].value}">
  {% for moon in months %}
  <option
          {% if loop.index == month %} selected="selected" {% endif %}
          value="{{ url('diary.single',
                   username=username,
                   year=year,
                   month=loop.index )}}">{{ moon }}</option>
  {% endfor %}
</select>
{% from "printcalendar.html" import printcalendar %}
{{ printcalendar(monthdays, diaries) }}
{# END CALENDAR #}
{% if entry %}
  <h1>{{ entry.creator }}'s Diary</h1>
  <br />
  {% if entry.is_private %}
    private
  {% endif %}
  {% if entry.is_draft %}
    draft
  {% endif %}
  <br />
  Date:
  <br />
  <p>{{ entry.created }}</p>
  <br />
  Text:
  <br />
  <p>{{ entry.text }}</p>
{% if user == entry.creator %}
<form method="post" action="{{ url('diary.delete', diary_id=entry.pk) }}">
  {{ csrf() }}
  <input type="submit" value="Delete Diary" />
</form>
<a href="{{ url('diary.edit', diary_id=entry.pk) }}">Edit This Diary</a>
{% endif %}
{% from "errorlist.html" import errorlist %}
{{ errorlist(comment_form) }}
<form method="post" action="{{ url('diary.reply', diary_id=entry.pk) }}">
  {{ csrf() }}
  {{ comment_form }}
  <input type="submit" value="Add Comment" />
</form>
<p> Comments: </p>
{% for comment_item in comments %}
  Posted by: {{ comment_item.creator }}
  At: {{ comment_item.created }}
  <br />
  {{ comment_item.text }}
  <br />
  <form method="post" action="{{ url('diary.delete_comment', comment_id=comment_item.pk) }}">
    {{ csrf() }}
    <input type="submit" value="Delete Comment" />
  </form>
{% endfor %}
{% endif %}
{% endblock %}
