{% extends "diary_base.html" %}
{% block content %}
{% if userbool %}
<form method="post" action="/diary/creatediary/processdiaryform/">
    {% for field in diary %}
        {{ field.label }}
        <br />
        {{ field }}
        <br />
    {% endfor %}
<input type="submit" value="update" />
</form>
{% else %}
    <h1>{{ diary_author }}'s Diary</h1>
    <br />
    Title:
    <br />
    <p>{{ diary_title }}</p>
    <br />
    Text:
    <br />
    <p>{{ diary_text }}</p>
    <br />
    Date Published:
    {{ diary_date }}
    {# {{ curr_diary }} #}
{% endif %}
<form method="post" action="addcomment/{{ curr_diary.pk }}/">
    {{ csrf() }}
    {{ comment_form }}
    <input type="submit" value="Add Comment" />
</form>
<p> Comments: </p>
{% for comment_item in comments %}
    Posted by: {{ comment_item.commenter }}
    At: {{ comment_item.pub_date }}
    <br />
    {{ comment_item.text }}
    <br />
{% endfor %}
{% endblock %}
