<html>
    <head>
        <title>List of gifts available </title>
    </head>
    <body>
        <a href="/logout/"> Logout </a>
        <h1> Welcome home to our mall: {{ logged_user }}. </h1>
        <a href="/messages/"> Click here to view your messages</a>

        <!-- Redirect browsing user to gift receivers homepage  -->
        {% set page = '/mall/gifts/buy/' %}
        {% set page = page + username + '/' %}

        {% if username == logged_user %}
            <p> List of gifts: </p>
            <ul>
            {% for gift in q %}
                <li>Title: {{ gift.title }} Creator: {{ gift.creator.username}} </br>
                    Price in WinkCash: {{gift.winkcash}}, Coins: {{gift.coins}} </br>
                    Created: {{gift.created}} </br> </br>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <ul>
            {% for gift in q %}
                <li>Title: {{ gift.title }} Creator: {{ gift.creator.username}} </br>
                    WinkCash: {{gift.winkcash}}, Coins: {{gift.coins}} </br>
                    Created: {{gift.created}} </br>
                    <form action='{{page}}' method="post" >
                    {{ csrf() }}
                    Send Gift to: {{ username }}:<br />
                    <input type="hidden" name="gift_id" value="{{gift.id}}"/>
                    <input type="submit" name="bought_coins" value="Buy with Coins">
                    <input type="submit" name="bought_wink" value="Buy with WinkCash">
                    </form>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
