<html>
    <head>
        <title>List of gifts available </title>
    </head>
    <body>
        <a href="{{ url('users.logout') }}"> Logout </a>
        <h1> Welcome home to our mall: {{ user }}. </h1>

        {# Redirect browsing user to gift receivers homepage #}
        {# % set page = '/mall/gifts/buy/' % #}
        {# % set page = page + username + '/' % #}

        {% if visitee.username == user %}
            <p> List of gifts: {{user}} </p>
            <ul>
            {% for gift in gifts %}
                <li>Title: {{ gift.title }} Creator: {{ gift.creator.username }} </br>
                    Price in WinkCash: {{ gift.winkcash }}, Coins: {{ gift.coins }} </br>
                    Created: {{ gift.created }} </br> </br>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Coins:{{ user.profile.coins }}, WinkCash:{{ user.profile.winkcash }}</p>
            <ul>
            {% for gift in gifts %}
                <li>Title: {{ gift.title }} </br>
                    Coins: {{ gift.coins }}, WinkCash: {{ gift.winkcash }}</br>
                    {% if gift.image %}
                        <img src="{{ gift.image.url }}">
                    {% endif %}
                    <form action='{{url('mall.buy_gift',
                                  visitee.username)}}' method="post" >
                    {{ csrf() }}
                    Send Gift to: {{ visitee.username }}:<br />
                    <input type="hidden" name="creator" value="{{ user.id }}"/>
                    <input type="hidden" name="recipient" value="{{ visitee.id }}"/>
                    <input type="hidden" name="gift" value="{{ gift.id }}"/>
                    <input type="submit" name="bought_coins" value="Buy with Coins">
                    <input type="submit" name="bought_wink" value="Buy with WinkCash">
                    </form>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
