{% extends "admire/base.html" %}


{% block headjs %}
<script>
    function guessFunction(){
        var clicked = $( this ).val();
        
        var csrfvalue = $('input[name=csrfmiddlewaretoken]').val();

        var sendData = {
            nameClicked: clicked,
            csrfmiddlewaretoken: csrfvalue
        }

        //var url = "../guess_ajax"; //TODO: ask how to make this better
        var url = ""; //TODO: ask how to make this better


        $.post(url, sendData,
            function(data) {
                $('#results').html(data);
            }
        );
    }
</script>
{% endblock %}

{% block admireContent %}

    <h2>Guess</h2>

    <p>Who admires you?</p>

    <form name="guessForm" method="POST">
    {{ csrf() }}
    {% for user in users_list %}
        <label>
            <input type="radio" name="guesses" value="{{ user.username }}" />{{ user.username }}
        </label>
        <br />
    {% endfor %}
    </form>

    <div id="results">
        <p>{{ first_try_text }}</p>
        <p>{{ the_admire.admirer.username }}</p>
         {% if the_admire.got_right %}
            good
        {% else %}
            bad
        {% endif %}

        {% if number == 3 %}
            good
        {% else %}
            bad
        {% endif %}
        {% include 'admire/guess_results.html' %}
    </div>
{% endblock %}

{% block tailjs %}
<script>
    $(document).ready(function() {
        
        // "onclick" for the radio buttons
        // http://stackoverflow.com/questions/46704/using-jquery-what-is-the-best-way-to-set-onclick-event-listeners-for-radio-butto/46824#46824
        $( "input[name='guesses']" ).bind( "click", guessFunction )
    });
</script>
{% endblock %}
